.color-box {
  height: 30px;
  width: 30px;
  margin: 10px;
  cursor: pointer;
  float: left;
}

.size-box {
  height: 40px;
  min-width: 50px;
  margin: 10px;
  cursor: pointer;
  display: inline;
  padding: 0 5px;
  border: 1px solid gray;
}

.selected-size {
  background-color: green;
  color: white;
}

.cart-box {
  padding: 10px;
  border: 1px solid gray;
}

.btn {
  height: 40px;
  padding: 5px 20px;
  color: white;
}

.btnDisabled {
  background-color: gray;
  color: white;
}

.success {
  color: green;
}

.error {
  color: red;
}
